PROCOMER.VUI.INS/Connected Services/WS_INS_CotizacionEmisionPoliza_Pruebas/CotizacionEmisionPolizas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_INS_CotizacionEmisionPoliza/CotizacionEmisionPolizas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_CotizacionEmisionPolizasRiesgo" />
  <xs:element name="CotizacionEmisionPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CotizacionEmisionPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_CotizacionEmisionPolizasRiesgo" minOccurs="0" name="CotizacionEmisionPolizaResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>