PROCOMER.VUI.INS/Connected Services/WS_INS_Catalogos_Pruebas/Catalogos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoIdentificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoIdentificacion" nillable="true" type="tns:TipoIdentificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoIdentificacion" nillable="true" type="tns:ArrayOfTipoIdentificacion" />
  <xs:complexType name="TipoIdentificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoIdentificacion" nillable="true" type="tns:TipoIdentificacion" />
  <xs:complexType name="ArrayOfTipoPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPoliza" nillable="true" type="tns:TipoPoliza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPoliza" nillable="true" type="tns:ArrayOfTipoPoliza" />
  <xs:complexType name="TipoPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPoliza" nillable="true" type="tns:TipoPoliza" />
  <xs:complexType name="ArrayOfFormaPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormaPago" nillable="true" type="tns:FormaPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormaPago" nillable="true" type="tns:ArrayOfFormaPago" />
  <xs:complexType name="FormaPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormaPago" nillable="true" type="tns:FormaPago" />
</xs:schema>