PROCOMER.VUI.INS/Connected Services/WS_INS_Catalogos_Pruebas/Catalogos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_INS_Catalogos/Catalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" />
  <xs:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_INS_Catalogos/Catalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos" />
  <xs:element name="TipoIdentificaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoIdentificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" minOccurs="0" name="TipoIdentificacionesResult" nillable="true" type="q1:ArrayOfTipoIdentificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPolizas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPolizasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" minOccurs="0" name="TipoPolizasResult" nillable="true" type="q2:ArrayOfTipoPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormaPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FormaPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos.Models" minOccurs="0" name="FormaPagosResult" nillable="true" type="q3:ArrayOfFormaPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPolizas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPolizasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos" minOccurs="0" name="EstadoPolizasResult" nillable="true" type="q4:ArrayOfEstadoPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ocupaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OcupacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos" minOccurs="0" name="OcupacionesResult" nillable="true" type="q5:ArrayOfOcupacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoIdentificacionesJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoIdentificacionesJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoIdentificacionesJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPolizasJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPolizasJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoPolizasJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormaPagosJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FormaPagosJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormaPagosJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPolizasJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoPolizasJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstadoPolizasJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OcupacionesJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OcupacionesJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OcupacionesJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>