PROCOMER.VUI.INS/Connected Services/WS_INS_Catalogos_Pruebas/Catalogos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_INS_Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstadoPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoPoliza" nillable="true" type="tns:EstadoPoliza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoPoliza" nillable="true" type="tns:ArrayOfEstadoPoliza" />
  <xs:complexType name="EstadoPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoPoliza" nillable="true" type="tns:EstadoPoliza" />
  <xs:complexType name="ArrayOfOcupacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ocupacion" nillable="true" type="tns:Ocupacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOcupacion" nillable="true" type="tns:ArrayOfOcupacion" />
  <xs:complexType name="Ocupacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ocupacion" nillable="true" type="tns:Ocupacion" />
</xs:schema>